{% extends 'base.html' %}

{% block title %}Lager{% endblock %}

{% block content%}
<div>
    <br>
    <h1>Lageroversigt</h1>

    <table>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Produktnavn</th>
            <th>Produktnummer</th>
            <th>Antal</th>
            <th>Mål</th>
            <th>Producent</th>
            <th>Produktkategori</th>
            <th>Pris</th>
        </tr>

        {% for item in data_rows %}
        <tr>
            <td>
                <form action="" method="POST">
                    <input type="hidden" name="fjern_vare" value="{{ item[0] }}">
                    <button type="submit" class="styled-button">Fjern vare</button>
                </form>
            </td>
            {% for i in item %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor%}
    </table><br>

    


    <button class="btn-open-popup" onclick="togglePopup()">Tilføj vare</button><br>
    <br> 
    
      <div id="popupOverlay" class="overlay-container"> 
          <div class="popup-box"> 
              <h2 style="color: #1D407B;">Tilføj vare</h2> 
              <form class="form-container" action="" method="POST">
                  
                  <div style="float:left">
                      <label class="form-label" for="produktnavn">Produktnavn:*</label> 
                      
                      <label class="form-label" for="produktnummer">Produktnummer:</label> 
                      
                      <input class="form-input-side-by-side" type="text" placeholder="..." id="produktnavn" name="produktnavn" required> 
                      
                      <input class="form-input-side-by-side" type="text" placeholder="..." id="produktnummer" name="produktnummer">
  
                      <label class="form-label" for="antal">Antal:*</label>
                      
                      <label class="form-label" for="bredde">Bredde:*</label>
                      
                      <input class="form-input-side-by-side" type="number" placeholder="..." id="antal" name="antal" required>
                      
                      <input class="form-measurements-input" type="number" placeholder="..." id="bredde" name="bredde" required>
                      
                      <select class="form-unit-input" id="bredde_enhed" name="bredde_enhed" required>
                      <option value="blank">---</option>
                      <option value="mm">mm</option>
                      <option value="cm">cm</option>
                      <option value="m">m</option>
                      </select>
                  
                      <label class="form-label" for="længde">Længde:*</label> 
                      
                      <label class="form-label" for="producent">Producent:</label> 
                      
                      <input class="form-measurements-input" type="number" placeholder="..." id="længde" name="længde" required>
                      
                      <select class="form-unit-input" id="længde_enhed" name="længde_enhed" required>
                      <option value="blank">---</option>
                      <option value="mm">mm</option>
                      <option value="cm">cm</option>
                      <option value="m">m</option>
                      </select>
                  
                      <input class="form-input-side-by-side" type="text" placeholder="..." id="producent" name="producent">
  
                      <label class="form-label" for="produktkategori">Produktkategori:</label> 
                      
                      <label class="form-label" for="pris">Pris:</label> 
                      
                      <input class="form-input-side-by-side" type="text" placeholder="..." id="produktkategori" name="produktkategori">
  
                      <input class="form-input-side-by-side" type="text" placeholder="..." id="pris" name="pris">
                  </div>
  
                  <button class="btn-submit" type="submit">Indsend</button> 
              </form> 
    
              <button class="btn-close-popup" onclick="togglePopup()">Luk</button> 
          </div> 
      </div>
</div>
{% endblock %}







