<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Login</title>
    <style>
        h1{
          color:#1D407B;
        }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <div class="mx-auto" style="width: 200px;">
        <li><a href="/register">Opret bruger</a></li>
        </div>
      </ul>
    </nav>
    <div class="mx-auto" style="width: 200px;">
    <h1>Admin log-in</h1>
  </div>
    <div class="mx-auto" style="width: 200px;">
    <form action="#" method="post">
      <label class="form-label-login" for="username">Brugernavn:</label>
      <input class="form-input-login" type="text" placeholder="..." name="brugernavn" />
      <br/>
      <label class="form-label-login" for="password">Password:</label>
      <input class="form-input-login" type="password" placeholder="..." name="password" />
      <br/>
      <button class="btn-submit" type="submit">Log ind</button>
    </form>
  </div>
  </body>
</html>